<header class="cabecalho ff-inter">
      <div class="logo">
        <img
          src="https://github.com/pablozagnoli/CadastroDePensamentos-Angular/tree/main/docs/assets/imagens/logo-memoteca.png"
          alt="Logo da aplicação Memoteca"
        />
        <p>
          Guarde trechos de músicas, citações de livros, pensamentos e suas
          melhores ideias.
        </p>
      </div>
      <div>
        <img
          class="imagem"
          src="https://github.com/pablozagnoli/CadastroDePensamentos-Angular/tree/main/docs/assets/imagens/computador-cabecalho.png"
          alt="Imagem de um computador"
        />
      </div>
</header>
